
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/*.csproj.user
**/*.dotsettings
**/*.sln.ide
**/*.suo
**/*.user
**/bin
**/obj
**/packages
**/Thumbs.db
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/
